<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shizukufilemaster">

    <!-- Permission Internet pour futures MAJ / Shizuku -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Lecture stockage média (Photos/Vidéos standard) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- Pour Android 12L et moins -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShizukuFileMaster"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShizukuFileMaster"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Provider Shizuku (OBLIGATOIRE pour que l'API fonctionne) -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="com.rikka.shizuku.permission.USE_SHIZUKU" >
            <meta-data
                android:name="com.rikka.shizuku.version"
                android:value="13" />
        </provider>

    </application>
</manifest>
